@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Michroma);


//Fontage
.font-droid-serif { font-family: 'Droid Serif', serif; }
.font-droid-sans { font-family: 'Droid Sans', sans-serif; }
.font-lato { font-family: 'Lato', sans-serif; }
.font-michroma { font-family: 'Michroma', sans-serif; }


//COLORS
@base-color: #402210;
@second-color: spin(@base-color, 30);
@third-color: spin(@base-color, -30);
@accent-color: lighten(saturate(spin(@base-color, 180),40%),20%);
@accent-two-color: lighten(saturate(spin(@base-color, 135),40%),20%);


//CALCULATED COLORS
@body-background: desaturate(lighten(@second-color,80%),30%);
@body-text: @base-color;

@title-text: lighten(saturate(@base-color,20%),10%);
@title-pop: @accent-color;

@panel-header-text-color: lighten(saturate(@third-color,20%),10%);
@panel-header-background-color: @body-background;
//@panel-body-background-color: lighten(desaturate(@base-color,20%),85%);
@panel-body-background-color: @body-background;
@panel-body-text-color: darken(@base-color,20%);
@panel-bottom-border-color: desaturate(lighten(@base-color,70%),40%);

//Font ties
.body-font       {  .font-droid-serif; }
.header-nav-font {  .font-lato; font-weight: 300;    }
.title-font      {  .font-michroma;    }
.panel-font      {  .font-lato; font-weight: 400;    }



//BODY STUFF
html body {
  background-color: @body-background;
  color: @body-text;
  .body-font;
}


//HEADER STUFF
#page-header {
  height: 150px;
  vertical-align: middle !important;
  position: relative;
  z-index: 1;
}

#page-header div {
  font-size: 1.2em;

}


div#page-header:before {
  border-bottom: 1px solid grey;
  width: 800px;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 1px;

}

#page-header .col-sm-6 {
  margin-top: 45px;
}

#page-header h1 {
  .title-font;
  color: @title-text;
  font-size: 2.0em;
}

#page-header h1 .pop {
  color: @title-pop;
  font-size: 0.5em;
}

#page-header nav {
  .header-nav-font;
  font-size: 17px;
  font-weight: 300;
}




//PANEL STUFF
body div.panel-default div.panel:before {
  border-bottom: 1px solid grey;
  width: 800px;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 1px;

}
body div.panel {
  border: 0;
  bow-shadow: 0px;
}

body div.panel-default div.panel-heading {
  font-size: 1.5em;
  font-weight: bold;
  color: @panel-header-text-color;
  background-color: @panel-header-background-color;
  .panel-font;
}

body div.panel-default div.panel-body {
  background-color: @panel-body-background-color;
  color: @panel-body-text-color;

}


//ADMIN NAV STUFF
.small .navbar-nav > li > a {
    padding-top:5px !important; 
    padding-bottom:5px !important;
}
.navbar {min-height:30px !important}

.space-for-admin-navbar {
  margin-top: 20px;
}

//NAV STUFF
#base-nav div {
  margin-top: 10px;
}

#base-nav a {
  color: #333;
}



//TABLE STUFF
div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: right;
    width: 460px;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
 
table {
    margin: 1em 0;
    clear: both;
}
