@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body {
  font-family: 'Droid Sans', sans-serif;
}


#page-header {
  height: 150px;
//  background-color: #668899;
  vertical-align: middle !important;
  position: relative;
  z-index: 1;

}

@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

div#page-header:before {
  border-bottom: 1px solid grey;
  width: 800px;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 1px;

}

#page-header .col-sm-6 {
  margin-top: 45px;
}

#page-header h1 {
  font-family: 'Montserrat', sans-serif;
}

#page-header nav {
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.small .navbar-nav > li > a {
    padding-top:5px !important; 
    padding-bottom:5px !important;
}
.navbar {min-height:30px !important}

.space-for-admin-navbar {
  margin-top: 20px;
}

#base-nav div {
  margin-top: 10px;
}

#base-nav a {
  color: #333;
}




div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: right;
    width: 460px;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
 
table {
    margin: 1em 0;
    clear: both;
}
